body {
  font-size: .9em;
  font-family: 'Lato', sans-serif;
  color: #111;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.img-circle {
  border-radius: 50%;
}

#triangle {
  margin-top: -75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 60px 60px 0;
  border-color: transparent #c9b0a4 transparent transparent;
}

  .shift-left {
    margin-left: -1em;
  }

#contact-details {
  margin-top: 3em;
}

  .sub-heading {
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 700;
    color: #aaa;
  }

  .darker-text {
    color: #444;
  }

  .content-below-heading {
    margin-left: -.8em;
  }

  .content-side {
    padding-left: .5em;
  }

  .address-line-height-fix {
    line-height: 1.7em;
  }

  .icon-side .fa {
    color: #97644e;
  }

.resume-section {
  margin: 0;
  padding-bottom: 20px;
}

  #personal-statement p {
    text-align: justify;
    text-align-last: justify;
  }

.skill {
  max-height: 45px;
  overflow: hidden;
}

  .one-line-skill {
    max-height: 35px;
  }

  .skill p:nth-child(2) {
    margin-top: -1.4em;
    font-size: .8em;
  }

  .non-tech-skills {
    margin-top: 1em;
  }

.language-circle>div {
  margin-right: 25px;
}

#hobbies-and-interests>div>div {
  float: left;
  margin-right: 20px;
}

  .hobby-row {
    margin-bottom: 10px;
  }

    .hobby-interest {
      border: 1px solid #97644e;
      border-radius: 50%;
      width: 120px;
      height: 120px;
    }

    .hobby-interest div {
      position: relative;
      float: left;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

      .hobby-interest div img {
        width: 32px;
        height: 32px;
      }

      .hobby-interest div p {
        margin-top: 5px;
        font-size: .8em;
      }

.info-icon {
  width: 48px;
}

.info-text p {
  font-size: .8em;
  line-height: 1.8em;
}
